/* @media(max-width: 1024px){
    .user-icon{
        height: 50px;
        width: 35px;
    }
    .level-font{
        font-size: 1.1rem!important;
    }
    .level-count-font{
        font-size: 2.1rem!important;
    }
    .gap-ceown{
        gap: 1rem!important;
    }
} */
.gap-ceown{
    gap: 2rem;
}
@media (min-width: 1024px) and (max-width: 1414px){
    .account-status-height{
        height: 31vh!important;
    }
    .user-icon{
        height: 35px;
        width: 35px;
    }
}
@media (min-width: 1415px) and (max-width: 1583px){
    .account-status-height{
        height: 31vh!important;
    }
}