@media (min-width: 1024px) and (max-width: 1246px) and (min-height: 600px) and (max-height: 650px) {
    .top-1-img{
        height: 50px!important;
        width: 50px!important;
    }
    .top-2-img{
        height: 39px!important;
        width: 39px!important;
    }
    .all-user-img{
        height: 34px!important;
        width: 34px!important;
    }
}
.top-1-img{
    height: 60px;
    width: 60px;
}
.top-2-img{
    height: 41px;
    width: 41px;
}
.all-user-img{
    height: 36px;
    width: 36px;
}