@media (min-width: 360px) and (max-width:447px){
    .responsive-username{
        font-size: 14px;
    }
    .responsive-blue-tick{
        height: 14px;
        width: 14px;
    }
}
@media (min-width: 360px) and (max-width:404px) {
    .success-rate-font{
        font-size: 10px!important;
    }
}
.success-rate-font{
    font-size: 12px;
}
.crown-img-Editor{
    border-radius: 50%;
    position: absolute;
    left: 4.4rem;
}
/* @media (max-width:360px) {
    .crown-img-Editor{
        left: 4.4rem;
    }
}
@media (max-width:375px) {
    .crown-img-Editor{
        left: 4.4rem;
    }
}
@media (max-width:414px) {
    .crown-img-Editor{
        left: 4.4rem;
    }
} */