.darkMode-input {
  background-color: #0b2447 !important;
  border: #0b2447 !important;
  color: #f6f6f6 !important;
}
.lightMode-input {
  background-color: #f6f6f6 !important;
  border: #f6f6f6 !important;
  color: #0b2447 !important;
}
input:focus {
  box-shadow: none !important;
}
.closeBtn {
  position: absolute;
  right: 38px;
}
.customDropdown-light-mode {
  background-color: #f6f6f6 !important;
  border: 1px solid #f6f6f6 !important;
  color: #0d2a53;
}
.customDropdown-dark-mode {
  background-color: #0b2447 !important;
  border: 1px solid #0b2447 !important;
  color: #e6e6e6;
}
.dpcontent-light-mode {
  background-color: #f6f6f6 !important;
  border: 1px solid #f6f6f6 !important;
  color: #0d2a53;
}
.dpcontent-dark-mode {
  background-color: #0d2a53 !important;
  border: 1px solid #0b2447 !important;
  color: #e6e6e6;
}
.customDropdown-content-light-mode {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  max-height: 150px;
  background-color: #ffffff;
}
.customDropdown-content-dark-mode {
  position: absolute;
  z-index: 1;
  overflow-y: auto;
  max-height: 150px;
  background-color: #0b2447;
}
.otpinputdesign-dark-mode {
  width: 3rem !important;
  margin: 0 0.2rem;
  font-size: 2rem;
  background-color: transparent !important;
  border: 1px solid #e6e6e6 !important;
  color: #e6e6e6;
}
.otpinputdesign-light-mode {
  width: 3rem !important;
  margin: 0 0.2rem;
  font-size: 2rem;
  background-color: transparent !important;
  border: 1px solid #0b2447 !important;
  color: black !important;
}
.otpinputdesign-dark-mode:focus {
  outline: none !important;
}
.otpinputdesign-light-mode:focus {
  outline: none !important;
}
.otpbox {
  gap: 0.7rem;
  justify-content: space-between;
}
@media (max-width: 360px) {
  .otpbox {
    gap: 0.2rem !important;
  }
  .otpMargin {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 360px) and (max-width: 500px) {
  .otpbox {
    gap: 0.3rem;
    justify-content: space-between;
  }
  .otpinputdesign-dark-mode {
    width: 2.3rem !important;
    text-align: center;
    margin: 0 0.2rem;
  }
  .otpinputdesign-light-mode {
    width: 2.3rem !important;
    text-align: center;
    margin: 0 0.2rem;
  }
}
@media (min-width: 411px) and (max-width: 452px) {
  .otpbox {
    gap: 0.7rem;
    justify-content: space-between;
  }
}
/* @media (min-width: 453px) and (max-width: 500px){
    .otpbox{
        gap: 0.4rem;
    }
} */
.darkMode {
  color: #e6e6e6 !important;
  background-color: #0d2a53 !important;
  font-family: "Roboto" !important;
}
.lightMode {
  font-family: "Roboto" !important;
  color: #0d2a53 !important;
}
.closeBtn-light {
  position: absolute;
  right: 17px;
  top: 10px;
  color: #0b2447;
}
.closeBtn-dark {
  position: absolute;
  right: 17px;
  top: 10px;
  color: #e6e6e6;
}
.lightMode-btn {
  border: 1px solid #00659d;
  color: #00659d;
  background-color: #ffffff;
  border-radius: 3px;
}
.darkMode-btn {
  border: 1px solid #d2db08;
  color: #d2db08;
  background-color: transparent;
  border-radius: 3px;
}
