.css-1hb7zxy-IndicatorsContainer{
    display: none!important;
}
.css-13cymwt-control{
    background-color: #F6F6F6!important;
    border: 1px solid #F6F6F6!important;
    color: #0D2A53!important;
}
