.input-field-light {
    /* width: 50%; */
    border: 1px solid #0D2A53;
    background-color: transparent;
    border-left: none;
    color: #0D2A53;
    border-radius: 2px;
}
.input-field-dark {
    /* width: 50%; */
    border: 1px solid #E6E6E6;
    background-color: transparent;
    border-left: none;
    color: #E6E6E6;
    border-radius: 2px;
}
.search-icon-dark{
    background-color: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 2px;
    border-right: none;
}
.search-icon-light{
    background-color: transparent;
    border: 1px solid #0D2A53;
    border-radius: 2px;
    border-right: none;
}
/* .icon-light {
    padding: 6px 6px 6px 3px;
    color: #0D2A53;
    text-align: center;
    border: 1px solid #0D2A53;
    border-right: none;
}
.icon-dark {
    padding: 8px 6px 8px 8px;
    color: #E6E6E6;
    min-width: 50px;
    border: 1px solid #E6E6E6;
    border-right: none;
} */
.input-field-light:focus{
    outline: none;
}
.input-field-dark:focus{
    outline: none;
}
@media (min-width: 360px) and (max-width: 508px) {
    .responsive-font{
        font-size: 12px;
    }
} 