.fonts{
    font-size: 14px;
}
@media (min-width:360px) and (max-width:400px){
    .fonts{
        font-size: 11px!important;
    }
}
@media (min-width:360px) and (max-width:400px){
    .button-status{
        width: 4rem!important;
        font-size: 12px;
    }
}