.cursor{
    cursor: pointer;
}
.light-mode{
    color: #0D2A53;
    background-color: #FFFFFF;
    font-family: 'Roboto';
}
.dark-mode{
   color: #E6E6E6; 
   background-color: #0D2A53;
   font-family: 'Roboto';
}
.body-dark-mode{
    background-color: #0B2447;
    font-family: 'Roboto'!important;
}
.body-light-mode{
    background-color: #F6F6F6;
    font-family: 'Roboto'!important;
}