
@media (min-width: 1024px) and (max-width: 1700px) {
    .icons-responsive-size {
      height: 30px;
      width: 30px;
    }
    .sidebar-height {
        height: 90vh!important;
    }
  }
.sidebar-height{
    height: 91vh;
}
.icons-block{
    gap: 1rem;
}