@media (min-width: 1024px) and (max-width: 1583px) {
    .icons-responsive-size {
      height: 30px;
      width: 30px;
    }
    /* .sidebar-height {
        height: 89vh!important;
    } */
  }

.sidebar-height{
    height: 90vh;
}
.icons-block{
    gap: 1rem;
}