@media (min-width: 360px) and (max-width: 404px) {
    .blueTick-responsive{
        display: flex;
    }
}
@media (min-width:360px) and (max-width:400px) {
    .shared-font{
       font-size: 14px!important;
    }
}
.shared-font{
   font-size: 15px;
}