.input-field-dark {
    width: 50%;
    border: 1px solid #E6E6E6;
    background-color: transparent;
    border-left: none;
    color: #E6E6E6;
    border-radius: 3px;
}
.search-icon-dark{
    background-color: transparent;
    border: 1px solid #E6E6E6;
    border-radius: 3px;
    border-right: none;
    padding: 0.2rem!important;
}
.input-field-dark:focus{
    outline: none;
}
@media (min-width: 1024px) and (max-width: 1700px) {
    .home-height {
        height: 63vh!important;
    }
    .users-section-fonts{
        font-size: 0.7rem!important;
    }
    .btn-user{
        width: 5rem!important;
    }
    .block-width{
        min-width: none!important;
    }
    .edit-icon-gap{
        gap: 0rem!important;
    }
}
.darkMode-input{
    background-color: #0B2447!important;
    border: #0B2447!important;
    color: #F6F6F6!important;
}
.darkMode-input:focus{
    outline: none!important;
}