.BlankCircle-light-mode{
    border: 2px solid #00659D;
    border-radius: 50%;
    width: 2.2rem;
    height: 2rem;
}
.BlankCircle-dark-mode{
    border: 2px solid #D2DB08;
    border-radius: 50%;
    width: 2.2rem;
    height: 2rem;
}
.FilledCircle-light-mode{
    background-color: #00659D;
    border-radius: 50%;
    width: 2.2rem;
    height: 2rem;
}
.FilledCircle-dark-mode{
    background-color: #D2DB08;
    border-radius: 50%;
    width: 2.2rem;
    height: 2rem;
}
@media (width: 320px) {
    .crown-img {
        position: absolute;
        right: 6.5rem;
        top: 3.4rem;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
}
@media (width: 375px) {
    .crown-img {
        position: absolute;
        right: 8.2rem;
        top: 3.4rem;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
}
@media (width: 425px) {
    .crown-img {
        position: absolute;
        right: 9.8rem;
        top: 3.4rem;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
}
@media (width: 768px) {
    .crown-img {
        position: absolute;
        right: 12.5rem;
        top: 3.4rem;
        background-color: #FFFFFF;
        border-radius: 50%;
    }
}
