.Flag-content-font{
    font-size: 13px;
}
@media (min-width: 360px) and (max-width: 401px){
    .Flag-content-font{
        font-size: 11px;
    }
    .flag-responsive{
        height: 22px;
        width: 22px;
    }
}
.green-block{
    background-color: #37FF80;
    height: 12px;
    width: 17px;
    margin-right: 1px;
}
.red-block{
    background-color: #FF5757;
    height: 12px;
    width: 17px;
    margin-right: 1px;
}