body {
  margin: 0;
  font-family: "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
img {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
input {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}
a {
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
}