@media(min-width: 360px) and ((max-width: 500px)){
    .profile-with-bluetick{
        font-size: 14px!important;
    }
    .profile{
        height: 40%!important;
        width: 40%!important;
    }
}
.profile{
    height: 50%;
    width: 50%;
}
.profile-with-bluetick{
    font-size: 17px;
}
@media(min-width: 360px) and (max-width: 412px){
    .crown-responsive{
        left: 3.5rem!important;
    }
}