@media (min-width: 360px) and (min-width: 615px) {
  .profilePicture {
    height: 50%;
    width: 50%;
  }
}
@media (min-width: 360px) and (max-width: 415px) {
  .content-font {
    font-size: 10px!important;
  }
}
.content-font{
  font-size: 12px;
}