@media (min-width: 1024px) and (max-width: 1400px){
    .font-comments{
        font-size: 0.8rem!important;
    }
    .eye-icon{
        height: 20px!important;
        width: 20px!important;
    }
    .profile-icon{
        height: 32px!important;
        width: 32px!important;
    }
    .flag-icon{
        height: 20px!important;
        width: 20px!important;
    }
    .eye-icon-gap{
        gap: 0.1rem!important
    }
}
