.customDropdown-content-dark-mode{
    position: absolute;
    z-index: 1;
    overflow-y: auto;
    max-height: 150px;
    background-color: #0B2447;
}
.customDropdown-dark-mode{
    background-color: #0B2447!important;
    border: 1px solid #0B2447!important;
    color: #E6E6E6;
}
.dpcontent-dark-mode{
    background-color: #0D2A53!important;
    border: 1px solid #0B2447!important;
    color: #E6E6E6;
    border-radius: 3px;
}