.row-height{
    height: 90vh;
}
@media (max-height: 1024px){
    .row-height{
        height: 88vh;
    }
    .icons-sidebar{
        height: 23px;
        width: 23px;
    }
    .icons-gap{
        gap: 0.7rem!important;
    }
}
@media (max-height: 1280px){
    .row-height{
        height: 91vh;
    }
    .icons-sidebar{
        height: 27px;
        width: 27px;
    }
    .icons-gap{
        gap: 0.8rem!important;
    }
}
@media (max-height: 1680px){
    .row-height{
        height: 93vh;
    }
    .icons-sidebar{
        height: 40px;
        width: 40px;
    }
}
/* @media (max-height: 2560px){
    .row-height{
        height: 94vh;
    }
    .icons-sidebar{
        height: 60px;
        width: 60px;
    }
} */
@media (max-height: 768px){
    .row-height{
        overflow: hidden;
        height: 90vh;
    }
    .icons-sidebar{
        height: 22px;
        width: 22px;
    }
    .icons-gap{
        gap: 0.7rem!important;
    }
}
@media (max-height: 600px){
    .row-height{
        height: 87vh;
        overflow-y: hidden;
    }
    .icons-sidebar{
        height: 20px;
        width: 20px;
    }
    .icons-gap{
        gap: 0.5rem!important;
    }
}
.cursor{
    cursor: pointer;
}