@media (min-width: 360px) and (max-width:370px){
    .autorname-responsive{  
        font-size: 12px!important;
    }
    .rate-fonts{
        font-size: 12px!important;
    }
}
.autorname-responsive{  
    font-size: 14px;
}
.rate-fonts{  
    font-size: 13px;
}